.recipe.row{"ng-click" => "details()"}
  .recipe_image.col-sm-3
    %img{src: '/assets/Cre.jpg'}
  .recipe_content.col-sm-9
    .title
      %a{ ng_href: '#/recipe?id={{recipe.id}}'} {{recipe.title}}
    %p  {{recipe.description | cut_max_caracters:true:100:'...'}}

  .recipe_content.pull-right
    .username
      publié: {{recipe.created_at | date:" dd/MM/yyyy"}} par {{recipe.user.name}}
