.page-header
  %h1 Log In
%form.form-horizontal{ ng_submit: "login()" }
  .form-group
    %label.control-label.col-sm-6 Email:
    .col-sm-6
      %input.form-control{ ng_model: "user.email", placeholder: "Email", type: "email" }
  .form-group
    %label.control-label.col-sm-6 Password:
    .col-sm-6
      %input.form-control{ ng_model: "user.password", placeholder: "Password", type: "password" }
  %input.btn.btn-primary.pull-right{ type: "submit", value: "Log In" }
