
.home-container{ ng_controller: 'homeCtrl' }
  %h1
    Recipes
  %hr
  %p{ ng_show:  "signedIn()" }
    Welcome {{ user.name }}
  .row{ ng_show: 'isAuthenticated' }
    .col-sm-12
      / Trigger the modal with a button
      %button.btn.btn-default.btn-addon.btn-sm.m-t-n-xs.pull-right{ ng_click: "openModalCreateRecipe()" }
        %i.fa.fa-plus.text-info
          Recette
  #search
    %label{for: 'search-input'}
      %i.fa.fa-search
    %input.form-control.search-query{ ng_model: 'searchQuery', id: 'search-input' , placeholder:'Recherche par : titre , description et ingredients', type: 'search' }
    %a.fa.fa-times-circle{ ng: { click:'searchQuery = null', show:'searchQuery' }, id: 'search-clear', tabindex:'1' }
  #recipes
    %div{ ng_repeat: 'recipe in recipes' }
      %recipe-details{ recipe: "recipe" }
    %span{ ng_if: "recipes.length == 0" }
      .alert.alert-danger{ role: "alert" }
        %span.glyphicon.glyphicon-exclamation-sign
        Aucun recette trouvé
    %recipe-pagination{ from: "fromIndex", to: "toIndex", current_page: "currentPage", total: "totalEntries", action: "searchRecipe( searchQuery, page )" }
