.home-container{ ng_controller: 'homeCtrl' }
  %h1{"ng-init" => "getRecipes(1)"}
    Recipes
  %hr
  %p{ ng_show:  "signedIn()" }
    Welcome {{ user.name }}

  #search
    %label{for: 'search-input'}
      %i.fa.fa-search
    %input.form-control.search-query{ id: 'search-input' , ng_model: 'search',placeholder:'Search' , ng_change: 'searchRecipe()'}
    %a.fa.fa-times-circle{ id: 'search-clear', tabindex:'1' , ng_show:'search' , ng_click:'search = null'}

  #recipes
    %div{ ng_repeat: 'recipe in results'}
      %my-recipe{recipe: "recipe"}
    %my-pagination{:from => "from_index", :to => "to_index", :current_page => "current_page", :total=> "total_entries", :action => "getRecipes(page)"}
