%div{ ng_controller: "showCtrl" }
  .row
    #recipe_show.col-sm-8
      %h1 {{recipe.title}}
      %p.username
        publié: {{recipe.created_at | date:" dd/MM/yyyy 'à' HH:mm"}} par {{recipe.username}}
      .clearfix
        .recipe_image_description
          #favorite_icon{ ng:{ click:"createOrDelete()",
          class: "{ noFavorite: !isFavorite, isFavorite: isFavorite }", if: "isAuthenticated" } }
          %img{ src: '/assets/Cre.jpg' }
          .description
            {{recipe.description}}
      %h2  Ingrédients
      %ul
        %li{ ng_repeat: 'ingridient in ingridients' }
          {{ingridient.name}}
  #comments
    .row.text-center
      %h2 Commentaires({{ comments.length }})
      %hr
    .row{ng_if: "isAuthenticated"}
      .col-sm-3
        %a{ ng_href: '#/profile?id={{ comment.user_id }}' }
          %img.logo{ src: "assets/avatar_homme.jpg" }
        %a{ ng_href: '#/profile?id={{ comment.user_id }}' } {{user.name}}
      .col-sm-9
        %form.form-horizontal{name:"commentForm" }
          %textarea.form-control{ placeholder:"commentaire ...", ng:{ model: "new_comment"}, required:"true" }
          %br
          %button.btn.btn-default{ ng_click: "addComment(new_comment)", ng_disabled:"commentForm.$invalid" } Commenter
    .row.spacer3{ ng_repeat: "comment in comments" }
      .col-sm-1
        %a{ ng_href: '#/profile?id={{ comment.user_id }}' }
          %img.img_comment{ src: "assets/avatar_homme.jpg" }
      .col-sm-11
        %a{ ng_href: '#/profile?id={{ comment.user_id }}' } {{ comment.name }}
        %span {{ comment.created_at | fromNow }}
        %br
        {{ comment.text }}
    .spacer2
