//*= require bootstrap/dist/css/bootstrap
//*= require font-awesome/css/font-awesome
//*= require_tree .
.spacer{
  margin-top: 100px;
}
.spacer2{
  margin-bottom: 100px;
}
.logo{
  width: 40px;
  margin-top: -8px;
  margin-right: 20px;
}
.avatar{
  width: 30px;
  margin: 10px 0 10px 10px;
}
