%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container{ ng_controller: 'navCtrl' }
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: "#/home" }
        %img.logo{ src: "assets/logo-recipe-altgem-active.png" , alt:"Accueil" , ng_if: "$route.current.activetab == 'home'" }
        %img.logo{ src: "assets/logo-recipe-altgem-inactive.png" , alt:"Accueil" , ng_if: "$route.current.activetab == 'profile'" }
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li{ ng_hide: "signedIn()" }
          %a{ href: "#/login" } Connexion
        %li{ ng_hide: "signedIn()" }
          %a{ href: "#/register" } Inscription
        %li{ng:{show:  "signedIn()" , class: "{active: $route.current.activetab == 'profile'}"}  }
          %a{ href: "#/profile" } {{ user.name }}
        %li{ ng_show: "signedIn()" }
          %img.avatar{src: "assets/avatar_homme.jpg"}
        %li{ ng_show:  "signedIn()" }
          %a{ ng_click: "logout()" } Déconnexion
.spacer2
